

<br />
<br />

<!DOCTYPE html>

    <title>DHXScheduler initialization sample</title>
    <style>
        body {
            background-color: #eee;
            padding-top:50px;
            padding-bottom:20px;
        }
    </style>

<body>
    <div style="height:500px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
</body>
