@*@using DHTMLX.Scheduler;
@model DHXScheduler;*@

    <br />


        <!DOCTYPE html>

            <title>Book an appointment</title>
    <style>
        /*body {
            background-color: #eee;
            padding-top: 100px;
            padding-bottom: 200px;
        }*/
    </style>

    <body>
    <div style="height:500px;width:900px;margin:0">
        @Html.Raw(Model.Render())

    </div>
    </body>
