@{
    ViewBag.Title = "Home Page";
}



<h1 style="padding-top:2em">FotographerFinder</h1>


<div class="row" style="padding-top:2em;">
    <style>
        img {
            border-radius: 5px;
        }
    </style>

    <div class="col-md-8">
        <img src="~/Images/blackandwhite.jpg" style="width:120%; height:600px">
    </div>
    <div class="col-md-4">
        <img src="~/Images/wedding.jpg" style="width:100%; height:100%;" />
        <blockquote>
            <p>FotographerFinder has made getting our family pictures done so easy and convenient!</p>
            <small>Uma Bob</small>
        </blockquote>
        <img src="~/Images/baby.jpg" style="width:100%; height:100%;" />
    </div>
</div>


@*<div id="myCarousel" class="carousel col-md-8" data-ride="carousel" data-interval="2000" style="margin-top:40px">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/blackandwhite.jpg" alt="Los Angeles" style="width:120%; height:550px">
        </div>

        <div class="item">
            <img src="~/Images/picture14.jpg" alt="Chicago" style="width:1020px; height:550px">
        </div>
        <div class="item">
            <img src="~/Images/picture15.jpg" alt="Chicago" style="width:1020px; height:550px">
        </div>
        <div class="item">
            <img src="~/Images/picture12.jpg" alt="Chicago" style="width:1020px; height:550px">
        </div>

        <div class="item">
            <img src="~/Images/picture7.jpg" alt="New York" style="width:1020px; height:550px">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/picture4.jpg" style="width:100%; height:100%;" />
    </div>
    <div class="col-md-4">
        <blockquote>
            <p>FotographerFinder has made getting our family pictures done so easy and convenient!</p>
            <small>Uma Bob</small>
        </blockquote>
    </div>
    <div class="col-md-4">
            <img src="~/Images/picture9.jpg" style="width:100%; height:100%;" />
    </div>



    <style>
        img {
            border-radius: 5px;
        }
    </style>





</div>*@
