
@*<br />
<br />
<br />
<br />

<form class="form-horizontal">
    <fieldset>
        <h3 style="margin-top:20px;">Contact your photographer!</h3>

        <div class="form-group">
            <label for="inputTo" class="col-lg-2 control-label">To:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="inputTo" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFrom" class="col-lg-2 control-label">From:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="inputFrom" placeholder="Your email">
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Message</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                @*<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>*@
            @*</div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>**@
