@model IEnumerable<Capstone.Models.Photo>

@{
    ViewBag.Title = "ShowGallery";
}

<h2>ShowGallery</h2>


@foreach (var photo in Model)
{
    <img src="@photo.PhotoPath" />
    Console.Write(photo.PhotoPath);
}

